                        .bg-black {
                            background-color: black;
                            font-family: 'Fira Sans', sans-serif;
                        }
                        
                        .menu-border {
                            border-radius: 25px;
                            width: 230px;
                            height: 500px;
                        }
                        
                        .content-border {
                            border-radius: 25px;
                            margin-left: 2px;
                        }
                        
                        .tableFixHead {
                            overflow-y: auto;
                            overflow-x: scroll;
                            height: 300px;
                            width: 100%;
                        }
                        
                        .tableFixHead thead th {
                            position: sticky;
                            top: 0;
                        }
                        
                        th {
                            background-color: #B1D3EE;
                        }